@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div id="preloader">
    <div id="status">&nbsp;</div>
</div>


<section id="home">
    <video id="home-bg-video" poster="video/solo.jpg" autoplay loop muted>
        <source src="video/solo.mp4" type="video/mp4">
        <source src="video/solo.ogv" type="video/ogv">
        <source src="video/solo.webm" type="video/webm">
    </video>

    <div id="home-overlay">

    </div>

    <div id="home-content">
        <div id="home-content-inner" class="text-center">
            <div id="home-heading">
                <h1 id="home-heading-1">Digital</h1>
                <h1 id="home-heading-2">Creative <span>Agency</span></h1>

            </div>

            <div id="home-text">
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eligendi deserunt
                    Consequuntur ex atque dolorem ipsum natus amet at nobis eaque deleniti accusamus.</p>
            </div>

            <div id="home-btn">
                <a class="btn btn-general btn-home" href="#about" title="Start Now" role="button">Start Now</a>
            </div>
        </div>
    </div>

    <a id="arrow-down" href="#about">
        <i class="fa fa-angle-down"></i>
    </a>
</section>

    <section id="about">
        <vc:about ></vc:about>
    </section>

    <section id="team">
        <vc:team></vc:team>
    </section>

    <!-- Statement -->
    <section id="statement">

        <div class="content-box-lg">

            <div class="container">

                <div class="row">

                    <div class="col-md-12">

                        <div id="tech-statement" class="text-center">

                            <h3><i class="fa fa-quote-left"></i> We design and develop services for customers of all
                                sizes, <br> specializing in creating stylish, modern websites and online stores. <i
                                    class="fa fa-quote-right"></i> </h3>
                            <p>- Daniel Watrous -</p>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    <!-- Statement Ends -->

    <!-- Services -->
    <section id="services">

        <vc:services></vc:services>
        
    </section>
