 

  <div class="content-box-lg">
            <div class="container">
                <row>
                    <div class="col-md-6">
                        <div id="team-left">
                            <div class="vertical-heading">
                                <h5>Who We Are</h5>
                                <h2>Meet Our <br><strong>Talented</strong> Team</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsum nihil repellat
                                corrupti vitae fugit rem iusto fuga quasi? Officia qui id, magnam iure dolores
                                obcaecati veritatis asperiores? Sequi, necessitatibus.</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div id="team-members" class="owl-carousel owl-theme">

                            <div class="team-member">
                                <img src="img/team/team-1.jpg" alt="team member" class="img-responsive">

                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Kevin Greer</h6>
                                        <p>Web Designer</p>
                                        <ul class="social-list">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="team-member">
                                <img src="img/team/team-2.jpg" alt="team member" class="img-responsive">

                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Kevin Greer</h6>
                                        <p>Web Designer</p>
                                        <ul class="social-list">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="team-member">
                                <img src="img/team/team-3.jpg" alt="team member" class="img-responsive">

                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Kevin Greer</h6>
                                        <p>Web Designer</p>
                                        <ul class="social-list">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="team-member">
                                <img src="img/team/team-4.jpg" alt="team member" class="img-responsive">

                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Kevin Greer</h6>
                                        <p>Web Designer</p>
                                        <ul class="social-list">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="team-member">
                                <img src="img/team/team-5.jpg" alt="team member" class="img-responsive">

                                <div class="team-member-overlay">
                                    <div class="team-member-info text-center">
                                        <h6>Kevin Greer</h6>
                                        <p>Web Designer</p>
                                        <ul class="social-list">
                                            <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"> <i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </row>

                <div id="progress-elements">

                    <!-- Progress Bars -->
                    <div class="row">

                        <div class="col-md-6 col-sm-6">

                            <!-- Skill 01 -->
                            <div class="skill">
                                <h4>Web Design</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 95%;">
                                        <span>95%</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- Skill 02 -->
                            <div class="skill">
                                <h4>Photoshop/Illustration</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 75%;">
                                        <span>75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- Skill 03 -->
                            <div class="skill">
                                <h4>Web Development</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 75%;">
                                        <span>75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <!-- Skill 04 -->
                            <div class="skill">
                                <h4>Digital Marketing</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 90%;">
                                        <span>90%</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
