<div id="about-01">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="about-left">
                                <div class="vertical-heading">
                                    <h5>Who We Are</h5>
                                    <h2>A <strong>story</strong><br />
                                        About Us</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div id="about-right">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur itaque autem,
                                    esse, eligendi praesentium vel aperiam consequuntur molestias perferendis
                                    cupiditate suscipit necessitatibus quidem ipsa incidunt nihil veritatis id tenetur
                                    consectetur?</p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus non voluptas ab
                                    nesciunt voluptate tempore, architecto fugiat a dolor totam nobis veniam mollitia
                                    reiciendis in dolore magnam labore commodi suscipit.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div id="about-bottom">

                                <img src="img/about/about.png" alt="About Us" class="img-responsive">

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="about-02">
            <div class="content-box-md">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="fa fa-rocket"></i>
                                <h3>Mission</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non soluta assumenda
                                    officia excepturi perferendis doloremque cupiditate adipisci ullam. Placeat
                                    praesentium impedit?</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="fa fa-eye"></i>
                                <h3>Vision</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non soluta assumenda
                                    officia excepturi perferendis doloremque cupiditate adipisci ullam. Placeat
                                    praesentium impedit?</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="about-item text-center">
                                <i class="fa fa-pencil"></i>
                                <h3>Passion</h3>
                                <hr>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non soluta assumenda
                                    officia excepturi perferendis doloremque cupiditate adipisci ullam. Placeat
                                    praesentium impedit?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>